*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .container {
        width: 100%;
        padding: 0 108px;
        display:flex;
    gap:265px
    }
      .head{
          width: 1400px;
        display:flex;
        justify-content:space-between;
        background-color: #000;
      }
      h2{
        width: 544px;
        color: #Ffffff;
        font: 400 30px 'Raleway', sans-serif;
    
      }
      .logo h2{
        padding-top: 20px;
        padding-bottom: 19px;
        padding-left: 110px;
        gap: 625px;
    }
    h2 span.red{
    font: 400 30px 'Roboto', sans-serif;
    color: #EC7979;
    }
    
    .menu{
        display: flex;
        gap: 24px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 108px;
    }
    
    .menu a {
        text-decoration: none;
        color: #FFFFFFB2;
        opacity: .7;
        text-align: center;
        font: 600 15px 'Open Sans';
    }
    .mask{
        display: flex;
        height: 601px;
        width: 1400px;
        background: linear-gradient(0deg, rgba(0, 0, 0, .45),rgba(0, 0, 0, .45)),url(images/backgroundmask.png);
        background-size:cover;
        text-align: left;
    }
    .div.mask.h2 {
        font-size: 60px;
    }
    h1{
        color: #Ffffff;
        font: 400 60px 'Raleway', sans-serif;
        padding-top: 109px;
        padding-bottom: 32px;
        gap: 625px;
    }
    h1 span.red{
        font: 400 60px 'Roboto', sans-serif;
        color: #EC7979;
        }
    .mask-left {
        width: 50%;
    }
    .mask-left h2 {
        font-size: 36px;
        margin-top: 32px;
    }
    .line{
        width: 64px;
        height: 1px;
        background: #Ffffff;
        margin: 34px 0 39px;
        display: inline-block;
    }
    p {
    font: 300 16px 'Raleway', sans-serif;
    color: #Ffffff;
    width: 282px;
    opacity: .8;
    }
    button {
        background-color: transparent;
        border: 1px solid white;
        width: 135px;
        height: 42px;
        color: white;
        font: 600 15px 'Open Sans';
        margin-top: 39px;
        cursor: pointer;
    }
    .mask-right {
        width: 50%;
    align-self: center
    }
    .login  {
        display:flex;
        flex-direction:column;
        background: #Ffffff;
        border-radius: 8px;
        width: 370px;
        height: 370px;
    }
    .freetrial {
        display: flex;
        height: 56px;
    justify-content: center;
        align-items: center;
    }
    div.freetrial h4 {
    font: 700 20px 'Open Sans';
    color:#333333;
    }
    
    h4 span.red {
    color:#EC7979
    }
    .login.info {
    height: 260px
    }
    .container.login {
    padding: 0 59px;
    display:flex;
    }
    
    div.login.buttom {
    display:flex;
    height:54px;
    background-color: #EC7979;
    border-radius: 0px 0px 8px 8px;
    justify-content: center;
    align-items: center;
    font: 600 15px 'Open Sans';
    color: #FFFFFF;
    cursor: pointer;
    }
    .socialmedia {
        display: flex;
        gap: 129px;
        width: 1400px;
        background-color: #F8EFEF;
    }
    .mediadesc {
        width: 40%;
    }
    .mediaicon {
        margin: 34px 0;
        height: 42px;
    }
    .socialmedia.container {
        padding: 0 111px;
    }
   .mediadesc h5{
       font: 700 20px 'Open Sans' ;
       padding: 14px 0;
   }
   .mediadesc p{
       height: 38px;
       width: 365px;
    font: 400 14px 'Open Sans';
    color: #86878B;
    margin-bottom: 17px;
   }
   .features.container{
       display: flex;
       flex-direction: row;
   }
   .features{
       width: 1400px;
   }
   .features.button {
    display: flex;
    flex:1 ;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 125px;
    padding-bottom: 125px;
   }
   button.tab.one{
       background: #EC7979;
       border: 1px solid #EC7979 ;
   }
   button.tab{
    margin: 0;
    font: 700 15px 'Open Sans';
    color: #Ffffff;
    width: 112px;
    height: 110px;
    background:#333333;
    border: 1px solid #333333;
    border-radius: 4px; 
   }
   .features h5{
       margin-left: -147px;
       padding-top: 126px;
       margin-bottom: 58px;
       text-transform: uppercase;
       font: 700 20px 'Open Sans';
       color: #000000;
   }
   .features p{
        margin-left: -147px;
       text-transform: uppercase;
       font: 400 14px 'Open Sans';
       color: #86868B;
       width: 572px;
       height: 133px;

   }
   .features.img{
    margin-left: -247px;
       padding-top: 100px;
       width: 320px;
       height: 253px;
   }
   .download{
    margin-left: -147px;
    margin-top: 90px;
       border: 1px solid #EC7979;
       background-color: #EC7979;
       font: 600 15px 'Open Sans';
       color: #Ffffff;
   }
   .awesome {
       width: 1400px;
   }
   .awesomecontainer {
    padding: 0 147px 0 144px;
   }
   .awesometitle {
       text-align: center;
   }
   .lineorange{
    width: 64px;
    height: 2px;
    background: #E72424;
    margin: 34px 0;
    display: inline-block;
   }
   .awesometitle h2 {
       padding-top: 80px;
       margin: auto;
       font: 400 36px 'Raleway', sans-serif;
       color: #333333;
   }
   .awesometitle p{
       font: 400 14px 'Open Sans';
       color: #86878B;
       margin: auto;
       width: 363px;
       height: 19px;
       white-space: nowrap;
   }
   .awesome-main{
       margin-top: 68px;
       display: flex;
       justify-content: space-between;
       margin-bottom: 116px;
   }
   .icon{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    color: #ff8b38;
    font-size: 32px;
    display: flex;
    margin: 0 auto 30px;
}
.awesome-col .icon i{
    margin: auto;
}
.awesome-col h3{
    text-align: center;
    color: #333;
    margin-bottom: 16px;
    font: 700 20px 'Open Sans';
}
.awesome-col p{
    text-align: center;
    width: 350px;
    height: 60px;
    line-height: 1.36;
    font:400 14px 'Open Sans';
    color: #000000;
}
.pricing {
    width: 1400px;
    text-align: center;
    background: #F5F5F5
}
.containerpricing {
    padding: 0 112px 0 113px;
}
.lineorange{
 width: 64px;
 height: 2px;
 background: #E72424;
 margin: 34px auto;
}
.pricingtitle h2 {
    padding-top: 80px;
    text-transform: uppercase;
    margin: auto;
    font: 400 36px 'Raleway', sans-serif;
    color: #333333;
}
.pricingtitle p{
    font: 400 14px 'Open Sans';
    color: #86878B;
    margin: auto;
    width: 363px;
    height: 19px;
    white-space: nowrap;
    margin-bottom: 47px;
}
.pricingrate{
    display: flex;
    direction: row;
    gap: 77px;
}
.ratecolumn{
    width: 340px;
}
ul li{
    list-style-type: none;
}
li.standart {
    padding: 9px 0;
    margin-bottom: 4px;
    height: 40px;
    width: 340px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font: 400 14px 'Open Sans';
    color: #86868B;
}
li:last-child {
    margin-bottom: 60px;
}
li.basic {
    padding: 13px 0;
    height: 50px;
    width: 340px;
    background: #333333;
    font: 700 20px 'Open Sans';
    color: #FFFFFF;
    margin-bottom: 1px;
}
li.price {
    padding: 28px 0;
    height: 100px;
    width: 340px;
    background: #333333;
    font: 700 35px 'Raleway';
    color: #FFFFFF;
    margin-bottom: 2px;
}
li.free{
    padding: 13px 0;
    height: 50px;
    width: 340px;
    background: #333333;
    margin-bottom: 4px;
    font: 600 14px 'Open Sans';
    color: rgba(255, 255, 255, 0.5)
}
.reviews{
    text-align: center;
    width: 1400px;
}
.containerreviews{
    padding: 0 137px 0 157px;
}
.reviewstitle h2 {
    width: 668px;
    padding-top: 80px;
    text-transform: uppercase;
    margin: auto;
    font: 400 36px 'Raleway', sans-serif;
    color: #333333;
}
.reviewstitle p{
    font: 400 14px 'Open Sans';
    color: #86878B;
    margin: auto;
    width: 363px;
    height: 19px;
    white-space: nowrap;
    margin-bottom: 67px;
}
.reviewsquote{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.speech{
    height: 110px ;
    width: 298px;
    border: #E2E2E2;
    border-radius: 7px;
    background: #E2E2E2;
    margin-bottom: 22px;
}
.speech p{
font: 400 14px 'Open Sans';
align-items: center;
color: #86868B;
padding: 8px 0 0 18px;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
}
.name p{
   font: 400 14px 'Open Sans';
   color: #86868B;
}
.name h5{
    font: 700 20px 'Open Sans';
    color: #333333;
}
.stylish{
    height: 326px;
    width: 1400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .45),rgba(0, 0, 0, .55)),url(images/footer.png);
    background-size:cover;
    text-align: center;
}
.stylishtitle h2 {
    width: 448px;
    padding-top: 58px;
    text-transform: uppercase;
    margin: auto;
    font: 400 36px 'Raleway', sans-serif;
    color: #FFFFFF;
}
.stylishtitle p{
    font: 300 16px 'Open Sans';
    color: #FFFFFF;
    opacity: .8;
    margin: auto;
    width: 779px;
    height: 19px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.stylishline {
    margin: 34px 0 34px 0;
    width: 64px;
    height: 2px;
    background: #Ffffff;
}
.contact{
    width: 1400px;
    height: 700px;
    text-align: center;
}
.containercontact {
    padding: 0 110px 0 110px;
}
.contacttitle h2 {
    width: 668px;
    padding-top: 80px;
    text-transform: uppercase;
    margin: auto;
    font: 400 36px 'Raleway', sans-serif;
    color: #333333;
}
.contacttitle p{
    font: 400 14px 'Open Sans';
    color: #86878B;
    margin: auto;
    width: 363px;
    height: 19px;
    white-space: nowrap;
    margin-bottom: 67px;
}
.inputinfo {
    display: flex;
}
.sendbuttom{
    margin-top: 69px;
    margin-bottom: 44px;
    border: 1px solid #EC7979;
    background-color: #EC7979;
    font: 600 15px 'Open Sans';
    color: #Ffffff;
}
.footer{
    background: #000000;
    width: 1400px;
    height: 101px;
}
.footer img{
    width: 317px;
    height: 23px;
    margin: 30px 542px 0 541px;
}
.footer p{
    font: 400 12px 'Open Sans';
    text-align: center;
    color: #FFFFFF;
    opacity: .5;
    width: 130px;
    margin: 18px auto 15px;
}